.video-background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -100;
}

.video-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .video-background {
    height: auto;
    width: 100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-background {
    height: 100%;
    width: auto;
  }
}
