$color_light: #fde3c980;
$color_normal: #bd9d8780;

.match-table-container {
  display: flex;
  max-width: 100%;
}

.match-table {
  border-collapse: collapse;
  width: 100%;
}

.match-table-header {
}

.match-table-body {
}

.match-table-footer {
}

.match-table-header-row {
}

.match-table-column {
  padding-left: 1em;
  padding-right: 1em;
  text-align: start;
}

.match-table-column-header {
  @extend .match-table-column;
  padding-bottom: 0.25em;
}

.match-table-data-row {
  &.odd {
    background-color: rgba($color_light, 0.5);
  }
  &.even {
    background-color: rgba($color_normal, 0.5);
  }
}

.match-table-column-data {
  @extend .match-table-column;
  padding-bottom: 0.1em;
}
