$color_light: #fde3c9;
$color_normal: #bd9d87;
$color_alpha: 0.75;

.player-table-container {
  display: flex;
  max-width: 100%;
}

.player-table {
  border-collapse: collapse;
  width: 100%;
}

.player-table-header {
}

.player-table-body {
}

.player-table-footer {
}

.player-table-header-row {
}

.player-table-column {
  padding-left: 1em;
  padding-right: 1em;
  text-align: start;
}

.player-table-column-header {
  @extend .player-table-column;
  padding-bottom: 0.25em;
}

.player-table-data-row {
  &.odd {
    background-color: rgba($color_light, $color_alpha);
  }
  &.even {
    background-color: rgba($color_normal, $color_alpha);
  }
}

.player-table-column-data {
  @extend .player-table-column;
  padding-bottom: 0.1em;
}
