@import './fonts';

body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.4vh;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
